packages used :

opencv-python 
tensorflow (for windows)
tf-lite (for pi)
numpy
speech-recognition
face recognition
pyttsx3 
playsound
threading
vonage(sms api)
csv
smtplib(mail api)
theading 
need to install object detection api for the windows version and cudda 

